<!-- src/app/movie-card/movie-card.component.html -->

<!-- NAVIGATION-BAR -->
<app-navbar></app-navbar>

<!-- MOVIE-CARDS -->
<div class="card-container">
    <mat-card *ngFor="let movie of movies; let i = index;" class="custom-card">
        <mat-card-header>
            <mat-card-title>{{ movie.Title }}</mat-card-title>
            <mat-card-subtitle>({{ movie.Year }})</mat-card-subtitle>
        </mat-card-header>
        <img class="custom-card-image" src="{{ movie.Imageurl }}" alt="{{ movie.Title }}" />
        <mat-card-actions>
            <button mat-button color="primary"
                (click)="openGenreDialog(movie.Genre.Name,movie.Genre.Description)">Genre</button>
            <button mat-button color=" primary"
                (click)="openDirectorDialog(movie.Director.Name,movie.Director.Bio)">Director</button>
            <button mat-button color="primary"
                (click)="openDescriptionDialog(movie.Description, movie.Title)">Synopsis</button>
            <!-- Doesn't work -->
            <button mat-icon-button color="warn"
                (click)="isFavorite(movie._id) ? deleteFavorite(movie._id) : addFavorite(movie._id)">
                <mat-icon>{{isFavorite(movie._id) ? 'favorite' : 'favorite_border' }}</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>