.card-container {
  margin-top: 75px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px; /* Abstand zwischen den Cards */
  padding: 16px;
}

.custom-card {
  width: 100%;
  box-sizing: border-box;
}

.custom-card-image {
  height: 100%;
}

.testButton {
  margin: 200px 0;
  button {
    width: 250px;
    font-size: 3rem;
  }
}
