.custom-card-header {
  background-color: #3f51b5; /* Beispiel-Hintergrundfarbe (indigo) */
  padding: 16px; /* Beispiel-Padding */
  color: white; /* Textfarbe für besseren Kontrast */
  border-radius: 4px 4px 0 0; /* Optional: abgerundete Ecken am oberen Rand */
}

.custom-card-content {
  padding: 16px; /* Beispiel-Padding */
  padding: 16px 16px 0 16px; /* Beispiel-Padding */
}
