<!-- src\app\user-profile\user-profile.component.html -->

<!-- NAVBAR -->
<!-- -------------------------------------------------------------------------------------- -->
<app-navbar></app-navbar>

<!-- SPACER -->
<!-- -------------------------------------------------------------------------------------- -->

<div class="spacer"></div>

<!-- PERSONAL-DATA -->
<!-- -------------------------------------------------------------------------------------- -->
<mat-card>
    <mat-card-header style="display: flex; align-items: center;">
        <mat-icon aria-hidden="false" aria-label="Account icon" fontIcon="account_circle" style="margin-right: 20px;">
        </mat-icon>
        <span>
            <mat-card-title>Your Personal Data</mat-card-title>
        </span>
    </mat-card-header>

    <mat-card-content>
        <!-- <hr> -->

        <p>USERNAME</p>
        <p style="display: flex; align-items: center;">
            <mat-icon aria-hidden="false" aria-label="Peron icon" fontIcon="person" style="margin-right: 20px;">
            </mat-icon>
            <span>{{user.Username}}</span>
        </p>
        <hr>

        <p>EMAIL ADRESS</p>
        <p style="display: flex; align-items: center;">
            <mat-icon aria-hidden="false" aria-label="Peron icon" fontIcon="alternate_email"
                style="margin-right: 20px;">
            </mat-icon>
            <span>{{user.Email}}</span>
        </p>
        <hr>

        <p>BIRTHDATE</p>
        <p style="display: flex; align-items: center;">
            <mat-icon aria-hidden="false" aria-label="Peron icon" fontIcon="cake" style="margin-right: 20px;">
            </mat-icon>
            <span>{{user.Birthdate | date:'longDate' }}</span>
        </p>


        <mat-card-actions>
            <button mat-button color="primary" (click)="deleteUserProfile()">Delete Your Profile</button>
        </mat-card-actions>

        <!-- <mat-card-actions>
            <button mat-button color="primary" (click)="updateUserProfile()">Update Your Data</button>
        </mat-card-actions> -->
    </mat-card-content>
</mat-card>

<!-- UPDATE PROFILE -->
<!-- -------------------------------------------------------------------------------------- -->
<mat-card class="custom-card">
    <!-- HEADER -->
    <mat-card-header class="custom-card-header">
        <mat-card-title>Update Your Profile</mat-card-title>
    </mat-card-header>

    <!-- FORM - UPDATE USER DATA -->
    <mat-card-content class="custom-card-content">
        <h3>Update Your Profile</h3>
        <form>
            <!-- USERNAME -->
            <mat-form-field>
                <input matInput [(ngModel)]="userData.Username" placeholder="Username" type="text" name="Username"
                    required />
            </mat-form-field>

            <!-- PASSWORD -->
            <mat-form-field>
                <input matInput [(ngModel)]="userData.Password" type="password" placeholder="Password" name="Password"
                    required />
            </mat-form-field>

            <!-- EMAIL -->
            <mat-form-field>
                <input matInput [(ngModel)]="userData.Email" type="email" placeholder="Email" name="Email" required />
            </mat-form-field>
        </form>
    </mat-card-content>

    <!-- ACTION-CONTAINER -->
    <mat-card-actions>
        <button mat-raised-button (click)="updateUserProfile()" color="primary">
            Update Profile
        </button>
    </mat-card-actions>
</mat-card>

<!-- FAVORITE-MOVIES -->
<!-- -------------------------------------------------------------------------------------- -->
<mat-card class="custom-card">
    <mat-card-header style="display: flex; align-items: center;">
        <mat-icon aria-hidden="false" aria-label="Movie icon" fontIcon="movie" style="margin-right: 20px;">
        </mat-icon>
        <span>
            <mat-card-title>Your Favorite Movies</mat-card-title>
        </span>
    </mat-card-header>
    <mat-card-content>

        <div class="card-container">
            <mat-card *ngFor="let movie of favMoviesObjects; let i = index;" class="custom-card">
                <mat-card-header>
                    <mat-card-title>{{ movie.Title }}</mat-card-title>
                    <mat-card-subtitle>({{ movie.Year }})</mat-card-subtitle>
                </mat-card-header>
                <img class="custom-card-image" src="{{ movie.Imageurl }}" alt="{{ movie.Title }}" />
                <mat-card-actions>
                    <button mat-icon-button color="warn"
                        (click)="isFavorite(movie._id) ? deleteFavorite(movie._id) : addFavorite(movie._id)">
                        <mat-icon>{{isFavorite(movie._id) ? 'favorite' : 'favorite_border' }}</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>

    </mat-card-content>
</mat-card>